.wd-col-one-tenth {
    width: 10%;
    float: left;
}
.wd-col-nine-tenth {
    width: 90%;
    float: left;
}
.float-left-b {
    float: left;
}
.float-right-b {
        float: right;
        width: 100px;
        border-radius: 8px;
        margin-right: 40px;
        background-color: black;
        /*display: flex;*/
        /*align-items: center;*/
        position: relative;
        top:50%;
}
.wd-title-margin {
    float: left;
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.wd-icon-width-20 {
    width: 20px;
}

.wd-icon-width-50 {
    width: 50px;
}
.wd-gear-icon-b {
    /*float:right;*/
    /*width: 20px;*/
    /*margin-right: 16px;*/
    /*margin-top: 50%;*/
    background-color: black;
}
.wd-icon-width {
    width: 20px;
}
.wd-title {
    color: white;
    font-size: 20px;
}
.wd-handle {
    color:lightgray;
    font-size: 13px;
}
.wd-title-bottom {
    border-bottom: lightgray solid 1px;
}
.wd-avatar {
    margin-left: 16px;
    margin-top: 12px;
    width: 48px;
    height: 48px;
    float: left;
    border-radius: 50%;
}
.wd-col-avatar {
    float: left;
    width:60px;
    /*border-right: #61dafb solid 1px;*/
}
.wd-col-post {
    float: left;
    margin-left: 12px;
    width: 506px;
}
.wd-author {
    /*float:left;*/
    margin-left: 12px;
    margin-top: 12px;
    font-size: 15px;
}
.wd-post {
    /*float:left;*/
    color: white;
    font-size: 15px;
    /*max-width: 506px;*/
    margin-left: 12px;
    margin-right: 16px;
    margin-bottom: 12px;
}
.wd-post-image {
    /*margin-top: 12px;*/
    width: 504px;
    height: 264px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    /*margin-left: 12px;*/
}
.wd-post-rounded {
    border-radius: 40px;
}
.wd-G-col {
    float: left;
    width: 25%;
    cursor: pointer;
    position: relative;
}
/*.wd-icon {*/
/*    width: 20px;*/
/*}*/
.wd-icon-30 {
    width: 30px;
}
.wd-G-pair {
    cursor: pointer;
    position: relative;
}
/*.wd-G-link {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 1;*/
/*}*/
.wd-padding-12 {
    padding: 12px;
}